# Arguments-Grabber Files
Arguments-Grabber/Arguments-Grabber/
Arguments-Grabber/Releases/
Arguments-Grabber/x64/
Arguments-Grabber/x86/
Arguments-Grabber/Arguments-Grabber.sln
Arguments-Grabber/Notes.txt

# DDC-Hierarchy Files
DDC23First.txt
DDC23Second.txt
DDC23Third.txt

# Duplication-Checker Files
Duplication-Checker/Notes.txt
Duplication-Checker/Results.txt
